// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datetime Picker
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css');

// styles for treatment blades
@import './treatments.scss';

//styles for stylists
@import './stylists.scss';

//styles for Saloon Page
@import './saloonPage.scss';
