

html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

main{
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;;
}

.mainPage{
  background-image: url('../images/SZ6_2051a_approved_new.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.4);
    // border-radius: 1em;
    position: absolute;
    // top: 0;
    // left: 0;
    z-index: 1;
  }
  .mainbox{
    width: 30%;
    margin-left: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    z-index: 2;
      @media (max-width: $breakpoint-lg) {
          width: 40%;
      }
      @media (max-width: $breakpoint-md) {
          width: 50%;
      }
      @media (max-width: $breakpoint-sm) {
          width: 70%;
          margin-left: 3em;
          margin-bottom: 3em;
      }
    .linename{
      display: flex;
      flex-direction: row;
      align-items: center;
      &__line{
        flex-grow: 1;
        background-color: white;
        height: 1px;

      }
      &__name{
        color: white;
        font-size: 22px;
        padding-left: 1em;
        padding-right: 1em;
        @media (max-width: $breakpoint-xsm) {
            font-size: 20px;
        }
        @media (max-width: $breakpoint-xxsm) {
            font-size: 16px;
        }
      }
    }
    .salonname{
      font-size: 50px;
      font-weight: 700;
      font-family: 'Libre Baskerville', serif;
      color: white;
      align-self: center;
      @media (max-width: $breakpoint-xsm) {
          font-size: 40px;
      }
      @media (max-width: $breakpoint-xxsm) {
          font-size: 32px;
      }
    }
    .mainbutton{
      width: 150px;
      text-decoration: none;
      text-align: center;
      font-size: 18px;
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      margin-top: 1em;
      &--order{
        color: black;
        background-color: white;
      }
      &--enter{
        color: white;
        border: 3px solid white;
      }

    }
  }
}
