.stylist__image{
  width : 100px;
  height : auto;
}

.stylist__item{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-bottom: 0.7em;
}

.stylist__label{
  width: 7em;
}

.stylist__input{
  display:inline;
  width:40%;
  margin-left: 1em;

}