.treatment__item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0.7em;
}

.treatment__label{
  width: 5em;
}

.treatment__input{
  display:inline;
  width:40%;
  margin-left: 1em;

}